.customNode {
  font-size: 2em;
}
.customNode img.ammoLogo {
  border-radius: 0;
}
.position {
  white-space: nowrap;
  overflow: visible;
  .typed {
    font-style: italic;
    color: #8cc5ff;
  }
}
